doctype html
html
    head
        meta(charset="utf-8")
        link(rel="stylesheet", href="/files/styles.css")
        block title
            title Mike's Own Special Reddit
    body
        block content