extends layout.pug
block content
    div(id="posts")
        h1 
            Posts
        ul(class="posts-list")
            each val, index in posts
                li(class="post-item") 
                    h2(class="post-item__title")
                        a(href=val.url)= val.title
                    p= 'Created by' + " " + val.user.username